h1{
	color: grey;
}
#game{
	background-image: url("../img/table.jpg");
	background-size: contain;
	height: 100vh;
	background-repeat: no-repeat;
	width: 100vw;
}
#background{
	background: #777;
}
#myCarousel{
	/*border-radius: 25px;*/
}

.carousel {
	box-shadow: 0 0 15px black;
	border-radius: 25px;
	overflow: hidden;

}
.slide {
	border-radius: 25px;
	overflow: hidden;
}
.carousel-inner{
	border-radius: 25px;
	overflow: hidden;
}
.carousel .item {
    border-radius: 25px;
    overflow: hidden;
}
.carousel-control {
    border-radius: 25px;
}
#image{
	border-radius: 25px;
}