h1{
	color: grey;
}
#background{
	background: url("../img/background3.jpg");

	
}
.transparent{
	background: transparent;
}
div{
	background: rgba(255,255,255,.25);
}
.carousel {
	box-shadow: 0 0 15px black;
	border-radius: 25px;
	overflow: hidden;

}
.slide {
	border-radius: 25px;
	overflow: hidden;
}
.carousel-inner{
	border-radius: 25px;
	overflow: hidden;
}
.carousel .item {
    border-radius: 25px;
    overflow: hidden;
}
.carousel-control {
    border-radius: 25px;
}
#image{
	border-radius: 25px;
}